# CONFIG_ARM_CCA_GUEST=y
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_SIG=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_KERNEL=y
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y

CONFIG_KPROBES=y
CONFIG_KPROBES_ON_FTRACE=y
CONFIG_HAVE_KPROBES=y
CONFIG_KPROBE_EVENTS=y


CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_KERNEL=y
CONFIG_FRAME_POINTER=y
CONFIG_STACKTRACE=y

CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_TRACING=y
CONFIG_FTRACE=y
CONFIG_EARLY_PRINTK=y


# benchmark
CONFIG_DEBUG_KERNEL=n
CONFIG_TRACING=n

CONFIG_KASAN=n
CONFIG_KMEMCHECK=n
CONFIG_LOCKDEP=n
CONFIG_HOTPLUG=n
CONFIG_PRINTK=n
CONFIG_DEBUG_INFO=n

CONFIG_ARM_CCA_GUEST=y
CONFIG_FUSE_FS=y
CONFIG_CUSE=y
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_SIG=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_KERNEL=y
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y

CONFIG_KPROBES=y
CONFIG_KPROBES_ON_FTRACE=y
CONFIG_HAVE_KPROBES=y
CONFIG_KPROBE_EVENTS=y


CONFIG_CLK_EN7523=n

CONFIG_SND_SOC_WCD9335=n
CONFIG_CLK_EN7523=n

CONFIG_COMMON_CLK=y
CONFIG_COMMON_CLK_FIXED=y


CONFIG_VFIO_AMBA=mh

CONFIG_VFIO_PLATFORM=m
CONFIG_VFIO_NOIOMMU=y
CONFIG_STRICT_DEVMEM=n


# Demo
CONFIG_DRM_VKMS=m
CONFIG_OPENCCA_DEMO=y